/* Navigation bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sticky-navbar {
    display: block;
}

/*.nav-container {
    position: fixed;
    width: 100%;

    top: 0;
    text-align: center;
}*/

.navbar {
    position: center;
    text-align: center;
    top: 0;
    margin: 0 auto;
    background-color: #002868;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 970px;
    z-index: 9999;
}

.navbar ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.navbar li {
    position: relative;
    display: inline;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    padding-right: 0px;
}

.navbar li:hover {
    color: #000033;
}

.navbar a {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    line-height: 6.5rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  border-radius: 1rem;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #BCAD75;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-size: 1.4em;
}

th {
    font-size: 1.6rem;
    font-weight: 600;
}

a {
    color: #006699;
}

.section {
    padding: 4rem 0;
    margin-bottom: 0;
}

.project-table td {
    padding-bottom: 0px;
    border-bottom: 0px;
}

.schedule ol {
    -moz-column-count: 2;
    -moz-column-gap: 1px;
    -webkit-column-count: 2;
    -webkit-column-gap: 1px;
    column-count: 2;
    column-gap: 1px;
}

.schedule li {
    margin-bottom: 0px;
}

.faq-question {
    font-size: 1.6rem;
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Phone-sized */
@media (max-width: 549px) {
    .navbar {
        width: 100%; 
    }
    .navbar a {
        padding-right: 10px;
        padding-left: 10px;
        line-height: 4.5rem;
        font-size: 1.5rem;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .navbar li {
        padding-right: 10px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .navbar li {
        padding-right: 20px;
    }
}

/* larger than desktop */
@media (min-width: 1000px) {
    .navbar li {
        padding-right: 35px;
    }
}